:root {
  --background: purple;
  --background-card: #9D76C1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}
.gallery {
    display: flex;
    left: calc(50% - 330px);
}
.card {
    position: relative;
    left: 0px;
    width: 190px;
    height: 240px;
    background-color: var(--background-card);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5)
}
.card:not(:first-child) {
    margin-left: -45px;
}
.card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}
.card:hover ~ .card {
    left: 55px;
}
.card img {
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
}
.card a {
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
}
.textgallery {
    position: absolute;
    bottom: 75%;
    right: 45%;
    font-size: large;
}
.textgallery p {
    bottom: 10%;
    right: 45%;
    font-size: large;
}
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 2rem;
}
