* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', 'sans-serif';
}
body{
    height: 100vh;
    background-color: #6b0606;
    background-image: url ('p.jpg');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1fr;
}