*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.text1 {
    text-align: center;
    color: purple;
}
.text1 h1{
    transform: scale(1.3);
}
.bg{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #5B0888 0%, #713ABE 28.53%, #9D76C1 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
